.wrapper {
  padding: 25px 0;
}

.title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;

  &_bold {
    font-weight: bold;
  }
}

.paragraph{
  font-size: 28px;
  margin-bottom: 20px;
}