.navigate {
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--navigate-bg);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.link__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}

.menu {
  position: absolute;
  top: 30px;
  left: 50px;
  display: none;
  background-color: transparent;
  border: none;
  z-index: 999;
}

.close {
  background-color: transparent;
  border: none;
  align-self: end;
  margin-bottom: 10px;
  display: none;
}

.img {
  margin-bottom: 15px;
}

.title {
  font-weight: 400;
  margin-bottom: 20px;
}

@media all and (max-width: 1150px) {
  .navigate{
    transform: translateX(-150%);
    width: 250px;
    transition: transform .2s ease;
  }

  .isActive {
    transform:none;
  }

  .close {
    display: block;
  }

  .menu {
    display: block;
  }
}

@media all and (max-width: 780px) {
  .menu {
    top: 10px;
    left: 30px;
  }
}