.code {
  background-color: var(--into-cod-bg);
  font-size: 16px;
  padding: 15px;
  border-radius: 3px;
  max-height: 500px;
  overflow-y: auto;
}

.border {
  border: 1px solid var(--into-border);
}

.description {
  margin-bottom: 20px;
  font-size: 18px;
}

.small {
  width: fit-content;
}

@media all and (max-width: 770px){
  .small{
    width: auto;
  }

  .description {
    font-size: 16px;
  }

  .code__font {
    font-size: 14px;
  }
}